.contents
  .contents-header
    .contents-header__name
      sample
    .contents-header__edit-btn
      =link_to("Edit", edit_group_path(params[:group_id]), class: "edit-link") 
    .contents-header__member
      Members : 
      = @users.map{|user| user.name }.join(', ')
  .chat-screen
    = render partial: 'message', collection: @messages
  .contents-bottom
    = form_for [@group, @message], html: { id: "new-message", class: "send-message"} do |f|
      .send-message__box
        = f.text_field :content, class: "send-message__box--input new-message__text", placeholder: "type a message"
        = f.label :image, class: "upload-label" do
          = fa_icon 'picture-o'
          = f.file_field :image, class: 'upload-label__icon new-message__image'
      = f.submit "Send", class: "send-message__submit-btn"
      