.contents
  .contents-header
    .contents-header__name
      sample
    .contents-header__edit-btn
      =link_to("Edit", edit_group_path(current_user), class: "edit-link") 
    .contents-header__member
      Member : name1 name2
  .chat-screen
    = render partial: 'message', collection: @messages
  .contents-bottom
    = form_for [@group, @message], html: {class: "send-message"} do |f|
      .send-message__box
        = f.text_field :content, class: "send-message__box--input", placeholder: "type a message"
        = f.label :image, class: "upload-label" do
          = fa_icon 'picture-o'
          = f.file_field :image, class: 'upload-label__icon'
      = f.submit "Send", class: "send-message__submit-btn"
      